.colorblanco{
    color: white;
}

.fondo{
    background-color: rgb(54, 50, 50);
}

.centrado{
    text-align: center;
}

.tabla{
    width: 100%;
    border-collapse: collapse;
}

.enctabla{
    padding: 5px;
    border-bottom: 1px solid white;
    text-align: center;
}

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(49, 49, 39);
}

li{
    float: left;
}

li a{
    display: block;
    color: bisque;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-family: cursive;
}

li a:hover{
    background-color: rgb(49, 24, 24);
}

.imagenes{
    width: 80;
    height: 80;
}